---
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;

const basePath = import.meta.env.BASE_URL;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{title}</title>

<link rel="icon" type="image/x-icon" href={`${basePath}favicon.ico`} />
<link rel="icon" type="image/png" sizes="16x16" href={`${basePath}favicon-16x16.png`} />
<link rel="icon" type="image/png" sizes="32x32" href={`${basePath}favicon-32x32.png`} />
<link rel="apple-touch-icon" sizes="180x180" href={`${basePath}apple-touch-icon.png`} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Long+Cang&family=Quicksand:wght@300..700&display=swap"
  rel="stylesheet"
/>

<ClientRouter />
